firebase-admin==6.3.0
google-auth==2.26.2
google-auth-httplib2==0.2.0
google-cloud-firestore==2.14.0
google-cloud-storage==2.14.0
hydralit_components==1.0.10
imageio==2.33.1
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
oauth2client==3.0.0
pillow==10.2.0
python-dateutil==2.8.2
rembg==2.0.53
requests==2.31.0
streamlit==1.30.0
streamlit-cropperjs==0.0.8
streamlit-extras==0.4.0

